<div class="links">
    <a [routerLink]="['/track', stream.songId]" class="btn btn-secondary btn-sm" role="button">
        <i class="fa fa-info-circle"></i>
    </a>
    <a href="{{youtube}}" target="_blank" class="btn btn-secondary btn-sm" role="button">
        <i class="fa fa-youtube-play"></i>
    </a>
    <a href="{{hypem}}" target="_blank" class="btn btn-secondary btn-sm" role="button">
        <i class="fa fa-heart"></i>
    </a>
    <a *ngIf="spotify" href="{{spotify}}" target="_blank" class="btn btn-secondary btn-sm" role="button">
        <i class="fa fa-spotify"></i>
    </a>
</div>
