{
  "extends": "eslint:recommended",
  "plugins": ["angular"],
  "env": {
    "es6": true,
    "browser": true,
    "jasmine": true
  },
  "ecmaFeatures": {
    "modules": true,
    "sourceType": "module"
  },
  "globals": {
    "angular": true,
    "module": true,
    "Papa": true,
    "Raven": true,
    "moment": true,
    "inject": true,
    "_": true
  },
  "rules": {
    "angular/definedundefined": 0,
    "angular/no-service-method": 0,
    // "camelcase": [2, {properties: "never"}],
    "comma-dangle": [0, "always-multiline"],
    "func-names": 0,
    "indent": 0,
    "max-len": 0,
    "no-else-return": 1,
    "no-multi-spaces": 0,
    "no-var": 0,
    "object-curly-spacing": 0,
    "prefer-arrow-callback": 0,
    "prefer-const": 0,
    "semi": 1,
    "space-before-blocks": 0,
    "space-before-function-paren": 0
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
   }
}
