<bpm-nav></bpm-nav>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <legend>
                <h3>{{::vm.artist}}</h3>
            </legend>
        </div>
    </div>
</div>

<div class="container home">
    <div class="row">
        <div class="col-md-4 col-lg-3" ng-repeat="song in vm.songs | orderBy:'-plays' track by $index">
            <div class="card">
                <img class="card-img-top" width="100%" ng-src="{{::song.spotify.album_image || './assets/images/album_placeholder.jpg'}}">
                <div class="card-block">
                    <p class="card-text"><small class="text-muted">Plays: {{::song.plays}}</small></p>
                    <h6 class="card-title">{{::song.track}}</h6>
                    <ul class="list-inline">
                        <li ng-repeat="artist in song.artists track by $index">
                            <a ng-href="#/artist/{{::artist}}">
                                <small>{{::artist}}</small>
                            </a>
                        </li>
                    </ul>
                    <bpm-links song="song" align="center"></bpm-links>
                </div>
            </div>
        </div>
    </div>
</div>
