<bpm-nav></bpm-nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <legend>Most Played Last 7 Days</legend>
            <table class="table table-condensed">
                <thead class="thead-default">
                    <tr>
                        <th>Cover</th>
                        <th>Track</th>
                        <th>Artists</th>
                        <th>Plays</th>
                        <th>Links</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="song in vm.songs track by $index">
                        <td style="padding: 0px 0px 0 0;">
                            <img width="60" ng-src="{{::song.spotify.album_image || 'assets/images/album_placeholder.jpg'}}">
                        </td>
                        <td>{{::song.track}}</td>
                        <td>
                            <ul class="list-inline">
                                <li ng-repeat="artist in song.artists track by $index"><a href="#/artist/{{::artist}}" class="text-nowrap">{{::artist}}</a></li>
                            </ul>
                        </td>
                        <td>{{::song.count}}</td>
                        <td class="text-nowrap">
                            <bpm-links song="::song"></bpm-links>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
