<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="media">
      <div class="media-left" style="max-height: 120px;margin-left:2px;max-width:20%">
        <coverart [songId]="mostHeard?.songId"></coverart>
      </div>
      <div class="media-body">
        <h5 class="text-muted"><small>Most Played Today</small></h5>
        <h4>{{ mostHeard?.name }}</h4>
        <ul class="list-inline">
          <li class="list-inline-item" *ngFor="let artist of mostHeard?.artists">
            <small>{{ artist }}</small>
          </li>
        </ul>
        <!-- <bpm-links song="vm.mostHeard"></bpm-links> -->
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="row">
      <div class="col-xs-6">
        <div class="text-xs-center card">
          <div class="card-block">
            <h2>{{ total }}</h2>
            <p class="card-text"><small>songs last 24 hours</small></p>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="text-xs-center card">
          <div class="card-block">
            <h2>{{ unique }}</h2>
            <p class="card-text"><small>unique songs last 24 hours</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-4 col-lg-3" *ngFor="let stream of recent" style="margin-bottom:30px">
    <div class="card" style="height:100%;">
      <coverart [songId]="stream.songId"></coverart>
      <div class="card-block">
        <p class="card-text">
          <small class="text-muted">
            <time-since [date]="stream.startTime"></time-since>
          </small>
        </p>
        <h6 class="card-title">{{stream.name}}</h6>
        <ul class="list-inline">
          <li class="list-inline-item" *ngFor="let artist of stream.artists">
            <a href="#/artist/{{artist}}">
              <small>{{artist}}</small>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
