<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="media">
      <div class="media-left" style="max-width:30%">
        <coverart [songId]="mostHeard?.songId"></coverart>
      </div>
      <div class="media-body">
        <h5 class="text-muted"><small>Most Played Today</small></h5>
        <h4>{{ mostHeard?.name }}</h4>
        <a href="#" class="card-link" *ngFor="let artist of mostHeard?.artists">{{ artist }}</a>
        <!-- <bpm-links song="vm.mostHeard"></bpm-links> -->
        <app-links *ngIf="mostHeard" [stream]="mostHeard"></app-links>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="row">
      <div class="col-xs-6">
        <div class="text-xs-center card-block">
          <h2>{{ total }}</h2>
          <p class="card-text">
            <small>songs last 24 hours</small>
          </p>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="text-xs-center card-block">
          <h2>{{ unique }}</h2>
          <p class="card-text">
            <small>unique songs last 24 hours</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>

<div class="row" infinite-scroll
  [infiniteScrollDistance]="1"
  (scrolled)="onScroll()">
  <div class="col-sm-6 col-lg-4 col-xl-3" *ngFor="let stream of recent" style="margin-bottom:30px">
    <div class="card h-100">
      <coverart [songId]="stream.songId"></coverart>
      <div class="card-block">
        <p class="card-text">
          <small class="text-muted">
            <time-since [date]="stream.startTime"></time-since>
          </small>
        </p>
        <h5 class="card-title">{{ stream.name }}</h5>
        <a href="#" class="card-link" *ngFor="let artist of stream.artists">{{ artist }}</a>
      </div>
      <br>
      <app-links class="text-xs-center" [stream]="stream"></app-links>
    </div>
  </div>
</div>
