<div class="row justify-content-center" *ngIf="track">
  <div class="col-md-7">
    <div class="card">
      <xm-coverart [songId]="track.songId"></xm-coverart>
      <div class="card-block">
        <h4 class="card-title">{{track.name}}</h4>
        <a href="#" class="card-link" *ngFor="let artist of track.artists">{{ artist }}</a>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <p class="m-0">First Heard -
            <xm-time-since [date]="track.firstHeard"></xm-time-since>
          </p>
        </li>
        <li class="list-group-item">
          <p class="m-0">Last Heard -
            <xm-time-since [date]="track.lastHeard"></xm-time-since>
          </p>
        </li>
      </ul>
      <div>
        <xm-links [hideTrack]="true" [stream]="track"></xm-links>
      </div>
      <div id="plays" style="margin-bottom: -6px"></div>
    </div>
  </div>
</div>
